{% extends 'main.html'%}
{% block content %}
{%load static%}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <img src="{%static 'images/temp2.JPG'%}" class="d-block w-80" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="{%static 'images/template2.PNG'%}" class="d-block w-80" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="card text-center">
    <div class="card-header">
      Build Your Resume!
    </div>
    <div class="card-body">
      <h5 class="card-title">Want to build your resume??</h5>
      <p class="card-text">Enter the Valid Details.</p>
      <a href="{% url 'create'%}" class="btn btn-primary">Click To Build!!!</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
{% endblock content %}