<p>Introduction:</p>
		<input class="w100" type="text" placeholder="Enter Full name" reqired/>
		<input type="email" placeholder="Enter Valid Email" reqired />
		<input type="tel" placeholder="Enter Valid Phone number(eg.+9779818181818)" reqired />
		<input type="text" placeholder="Enter your position role(eg.Frontend developer,etc)" reqired />
		<input type="text" placeholder="Describe about yourself" reqired />
<p>Skills:</p>
		<input type="text" placeholder="What are your skills (eg: Python,java,etc)" reqired />
<p>Interests:</p>
		<input type="text" placeholder="What are your interests in (eg: singing, coding,etc)" reqired />