{% extends 'main.html' %}
{% block content %}
{% load static%}
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/template1.css'%}">
<a href="{% url 'create-project'%}" class = "btn btn-primary">Add Project</a>
<a href = "{% url 'create' %}" class = " btn btn-primary">Go Back</a>
<h3>Project: </h3>

<div>
    {%for project in project%}
    <h4>Project name:{{project.title}} </h4>
    <p>Description: {{project.description}}</p>
    <a href="{% url 'edit-project' project.id%}" class = "btn btn-primary">Edit</a>
    <a href="{% url 'delete-project' project.id%}" class = "btn btn-primary">Delete</a>
    <br>
    {% endfor %}
</div>
{% endblock content %}